doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title= 'transition'
		link(rel="stylesheet" href='style.css')
	body
		table
			tr
				td= '-1s'
				td
					.elem
			tr
				td= '0s'
				td
					.elem
			tr
				td= '1s'
				td
					.elem